.advantage {
  display: flex;
  margin: 0px 0px;
  justify-content: center;
  &__item + &__item {
    margin-left: 30px;
  }
  &__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  &__iconsbox {
    background-color: var(--main-second-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 270px;
    min-height: 120px;
    &--icon {
      width: 70px;
      height: 70px;
    }
  }
  &__pretext {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-second);
    margin-top: 10px;
  }
}
