.header {
  .header__container {
    @include flex(flex, null, center);
    border-bottom: 1px solid #ececec;
  }
  .header__navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 93px;
  }
}

.sitenav {
  @include font(14px, 500, 16px, 0.02em, null);
  display: flex;

  .sitenav__item + .sitenav__item {
    margin-left: 50px;
  }
}

.contact {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14px, 500, 16px, 0.02em, null);
  color: var(--text-second);
  .contact__item {
    display: inline-block;
    & + & {
      margin-left: 50px;
    }
  }
  .contact__item:hover .contact__icons,
  .contact__text:focus .contact__icons {
    fill: var(--accent-color);
  }
  .contact__icons {
    margin-right: 10px;
    fill: var(--text-second);
    @include animate();
    transition-property: fill;
  }
  .contact__text {
    display: flex;
    align-items: center;
  }
}
