.header {
  @include flex(flex, null, center);
  border-bottom: 1px solid #ececec;
  &__navigation {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 93px;
  }
  &__list {
    @include font(14px, 500, 16px, 0.02em, null);
    display: flex;
  }
  &__item + &__item {
    margin-left: 50px;
  }
}

.contact {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  &__list {
    @include font(14px, 500, 16px, 0.02em, null);
    color: var(--text-second);
  }
  &__item {
    display: inline-block;

    & + & {
      margin-left: 50px;
    }
  }
  .contact__item:hover .contact__icons,
  .contact__text:focus .contact__icons {
    fill: var(--accent-color);
  }
  &__icons {
    margin-right: 10px;
    fill: var(--text-second);
    @include animate();
    transition-property: fill;
  }
  &__text {
    display: flex;
    align-items: center;
  }
}
