.team {
  display: flex;
  .team__item {
    background-color: var(--main-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item + .team__item {
    margin-left: 30px;
  }
  .team__title {
    @include font(16px, 500, 19px, 0.03em, null);
    text-align: center;
    margin-bottom: 10px;
  }
  .team__text {
    @include font(16px, null, 19px, 0.03em, null);
    text-align: center;
    color: var(--text-second);
    margin-bottom: 16px;
  }
  .team__member {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.socials {
  @include flex(flex, center, null);
  .socials__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flex();
    @include animate();
    fill: var(--icons-color);
    transition-property: background-color, fill;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--main-color);
    }
  }
  .socials__item + .socials__item {
    margin-left: 10px;
  }
  .socials__icons {
    width: 20px;
    height: 20px;
  }
}
